@model IEnumerable<Web.DTO.RestaurantCategoryResponseDTO>
@{
    ViewData["Title"] = "GetAllRestaurantCategories";
}

<h1>Get All Restaurant Categories</h1>
@Html.ActionLink("Add New", "AddCategory")
@*<p>@Html.ActionLink("Add new Category", "AddCategory")</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Priority)
    </td>


    <td>

        @Html.ActionLink("Edit", "EditRestaurantCategory", new { id = item.Id }) |
        @Html.ActionLink("Delete", "DeleteRestaurantCategory", new { id = item.Id })

    </td>
</tr>
    }

</table>

@Html.ActionLink("Back to Restaurants", "Index") 