@model IEnumerable<Web.DTO.MealCategoryResponseDTO>
@{
    ViewData["Title"] = "GetAll Meal Categories";
}

<h1>Get All Meal Categories</h1>
@Html.ActionLink("Add New", "AddMealCategory") 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>

        <td>

            @Html.ActionLink("Edit", "EditMealCategory", new { id = item.Id })

        </td>
    </tr>
    }

</table>

@Html.ActionLink("Back to Meals", "Index", "Meals") 